.h1 {
  color: blue;
}

.b1 .b2 .b3 {
  border: 4px solid #900;
  margin: 50px;
  min-height: 100px;
}

.b2 {
  border-top: 4px solid #ccc;
  border-bottom: 4px solid #ccc;
  border-left: 4px solid #ccc;
  border-right: 4px solid #ccc;
}
